/* =======================
TABLE OF CONTENTS
1. Resets
2. Colors
3. Global Styles
4. Navs
5. Map
#. Media Queries
======================= */



/* =======================
1. Resets
======================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}



/* =======================
2. Colors


======================= */



/* =======================
3. Global Styles
======================= */



/* =======================
4. Navs
======================= */



/* =======================
5. Map
======================= */
