/* =======================
TABLE OF CONTENTS
1. Resets
2. Colors
3. Global Styles
4. Navs
5. Map
6. Account
7. User Form
#. Media Queries
======================= */



/* =======================
1. Resets
======================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.root {
  height: 100%;
}

input,
button {
  -webkit-appearance: none;
}



/* =======================
2. Colors

https://coolors.co/2c58c8-d05879-eee0cb-baa898-3a3a3a

Cerulean blue:   2c58c8
Cinnamon satin:  d05879
Almond:          eee0cb
Tuscany:         baa898
Black Olive:     3a3a3a

======================= */



/* =======================
3. Global Styles
======================= */

body {
  font: normal 16px 'Quicksand', sans-serif;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

a {
  color: #d05879;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #2c58c8;
  text-decoration: none;
}

header {
  background-color: #3a3a3a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  z-index: 1;
}

main {
  -webkit-flex: 7;
          flex: 7;
}

form {
  display: -webkit-flex;
  display: flex;
  -wekbit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

label {
  font-weight: bold;
  margin: 1em 0 0.5em;
  text-align: center;
}

input {
  border-radius: 5px;
  display: block;
  font: inherit;
  padding: 0.75em;
  width: 100%;
  border: 2px solid #baa898;
}

button,
input[type=submit] {
  background-color: #d05879;
  border: none;
  border-bottom: 3px solid #9C425B;
  cursor: pointer;
  font: inherit;
  color: #fff;
  margin: 2em auto;
  padding: 1em 2em;
}

.bottom-button {
  background-color: #d05879;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex: 1;
          flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bottom-button:hover {
  color: #fff;
}

.primary-cta {
  font-size: 1.5rem;
}

.secondary-cta {
  font-size: 1rem;
}




/* =======================
4. Navs
======================= */

div.logo_icon {
  background: url(../images/mister-softee-tracker_logo_RGB_cone.png) no-repeat center center;
  background-size: contain;
  float: left;
  margin: 0 0.5rem;
  padding-bottom: 13%;
  width: 13%;
}

header h2 {
  font-size: 1.5rem;
  position: absolute;
  left: 25%;
  text-align: center;
  width: 50%;
}

nav.bottom-nav {
  border-top: 2px solid #baa898;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
          flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;
}

a.bottom-nav_item {
  color: #baa898;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a.bottom-nav_item:hover {
  color: #2c58c8;
}

a.bottom-nav_item--selected {
  color: #d05879;
}

a.bottom-nav_item--selected:hover {
  color: #d05879;
  cursor: default;
}

span.bottom-nav_icon {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.25em 0;
  display: block;
}

p.bottom-nav_label {
  font-size: 0.75rem;
}



/* =======================
5. Map
======================= */

section.map {
  height: 100%;
}

div.map--loading {
  background-color: #eee0cb;
  color: #3a3a3a;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.map--loading p {
  margin: 0 0 2em;
}



/* =======================
6. Account
======================= */

section.account-container {
  background-color: #eee0cb;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
}

button.signout-button {
  border-radius: 5px;
}



/* =======================
7. User Form
======================= */


section.user-form-container {
  background-color: #eee0cb;
  height: 100%;
}

a.switch-user-form {
  color: #d05879;
  text-align: center;
}
