/* =======================
TABLE OF CONTENTS
1. Resets
2. Colors
3. Global Styles
4. Navs
5. Map
#. Media Queries
======================= */



/* =======================
1. Resets
======================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.root {
  height: 100%;
}

input,
button {
  -webkit-appearance: none;
}



/* =======================
2. Colors

https://coolors.co/2c58c8-d05879-eee0cb-baa898-3a3a3a

Cerulean blue:   2c58c8
Cinnamon satin:  d05879
Almond:          eee0cb
Tuscany:         baa898
Black Olive:     3a3a3a

======================= */



/* =======================
3. Global Styles
======================= */

body {
  font: normal 16px 'Quicksand', sans-serif;
}

.app {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%;
}



/* =======================
4. Navs
======================= */

header,
nav.bottom-nav {
  -webkit-box-shadow: 0px 7px 17px 0px rgba(58,58,58,0.41);
     -moz-box-shadow: 0px 7px 17px 0px rgba(58,58,58,0.41);
          box-shadow: 0px 7px 17px 0px rgba(58,58,58,0.41);
}

header {
  background-color: #3a3a3a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
}

header h2 {
  font-size: 1.5rem;
  text-align: center;
}

nav.bottom-nav {
  border-top: 2px solid #baa898;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
          flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;
}

a.bottom-nav_item {
  color: #baa898;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a.bottom-nav_item:hover {
  color: #2c58c8;
}

a.bottom-nav_item--selected {
  color: #d05879;
}

span.bottom-nav_icon {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.25em 0;
  display: block;
}

p.bottom-nav_label {
  font-size: 0.75rem;
}



/* =======================
5. Map
======================= */

.map {
  flex: 7;
}
